@import '../../styles/colors.scss';

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .form {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: $white;
    width: 400px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 1px 3px -1px $black;

    h2 {
      font-size: 24px;
      color: $primary-dark;
      text-align: center;
      text-transform: uppercase;
    }

    .submit {
      margin-top: 32px;

      &:disabled {
        background-color: $disabled-background;
        color: $disabled-color;
        opacity: 1;
        cursor: not-allowed;
      }
    }

    .link {
      margin-top: 16px;
      text-align: center;
      color: $primary;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}