@import '../../styles/colors.scss';

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type="password"],
input[type="email"] {
  line-height: 40px;
  padding: 0 40px 0 8px;
  border: 1px solid $primary-light;
  border-radius: 4px;

  &:focus {
    outline-color: $primary-light;
  }
}

button {
  font-size: 16px;
  background-color: $primary;
  color: $white;
  line-height: 60px;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .form {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: $white;
    width: 400px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 1px 3px -1px $black;

    h2 {
      font-size: 24px;
      color: $primary-dark;
      text-align: center;
      text-transform: uppercase;
    }

    .submit {
      margin-top: 32px;
    }

    .link {
      margin-top: 16px;
      text-align: center;
      color: $primary;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}